.button{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	-webkit-backface-visibility: hidden; //stops junk pixel bug in chrome.
	font-size: 18px;
	margin: 50px 0 80px 0;
	font-weight: 600;
	position: relative;
	background: $green;
	display: inline-block;
	text-decoration: none;
	color: white;
	border-color: transparent;
	border-radius: 5%;
	z-index: 1;
	letter-spacing: 0em;
	box-shadow: 0 4px 50px 0 rgba(0,0,0,0.4), 0 6px 50px 0 rgba(0,0,0,0.5);
	&:hover {
		color: $green;
	}

	&:hover:before {
		right: 0;
	}

	&:before {
		content: "";
		position: absolute;
		background: white;
		border-radius: 5%;
		bottom: 0;
		left: 0;
		right: 100%;
		top: 0;
		z-index: -1;
		transition: right 0.2s ease-in;
	}
}