.nav
    .nav__logo LOGO
    ul.nav__list
        li 
            a.nav__link temp name
        li 
            a.nav__link tempasd
        li 
            a.nav__link this could be a
        li 
            a.nav__link very short.

    .nav__right last.