- const title = "Preethva Burman"
- const headerTitle = "Your website designed."

doctype html
html
	head
		meta(name="viewport" content="width=device-width,initial-scale=1")
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		link(href="css/index.css" rel="stylesheet")
		title= title
		link(href="https://fonts.googleapis.com/css?family=PT+Serif|Raleway" rel="stylesheet")
	body
		//- script(src="js/bundle.js")
		header(class="header")
			include ../mixins/image
			include ../mixins/header-text
			include ../mixins/button
		main(class="main")

			include ../partials/hero
			include ../partials/why
			include ../partials/temp
			include ../partials/nav
			