html {
    body {
        margin: 0px;
    }
    color: black;
    
	background-color: #3b434e;

}
//Important order!
@import "sass/variables";
@import "sass/container";
@import "sass/image";
@import "sass/typography";

@import "sass/button";
@import "sass/background";
@import "sass/background-image";
@import "sass/nav";
@import "sass/hero";
@import "sass/panel";
